/packages
/artifacts
/build
/JavaApp/.gradle
/JavaApp/build
/JavaApp/local_out
/Natives/AngelAuraAmethyst
/Natives/build
.DS_Store
xcshareddata/
xcuserdata/
project.xcworkspace/
/depends
/Natives/config.h
entitlements.codesign.xml
/Compare
/.rule/
/sample/

# Build artifacts (users can build themselves)
/amethyst-prebuilt-libraries/build/
/amethyst-prebuilt-libraries/SDL/SDL3/build_ios/
/lwgjl/*/bin/
/lwgjl/*/.gradle/
/lwgjl/*/libffi/build*/
/lwgjl/*/.github/workflows/android/.gradle/
/lwgjl/*/.github/workflows/android/build/